<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Environment URLS-->
    
    <!-- EDCS -->
    <add key="EDCS-1" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-1/pr/" />
    <add key="EDCS-2" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-2/pr/" />
    <add key="EDCS-3" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-3/PR/" />
    <add key="EDCS-4" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-4/pr/" />
    <add key="EDCS-5" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-5/pr/" />
    <add key="EDCS-6" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-6/pr/" />
    <add key="EDCS-7" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-7/pr/" />
    <add key="EDCS-8" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-8/pr/" />
    <add key="EDCS-9" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-9/pr/" />
    <add key="EDCS-10" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-10/pr" />
    <add key="EDCS-INT" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-INT/pr/" />
    <add key="EDCS-QA" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-QA/pr/" />
    <add key="EDCS-UAT" value="https://intra.dev.edcs7.csc.gov.on.ca/EDCS-UAT/pr/" />

    <!-- OnSIS -->
    <add key="OnSIS_Ops-Int" value="https://intra.dev.edcs7.csc.gov.on.ca/OnSIS Ops-Int/1/welcome.aspx" />
    <add key="OnSIS_Proj-Int" value="https://intra.dev.edcs7.csc.gov.on.ca/OnSIS Proj-Int/1/welcome.aspx" />
    <add key="OnSIS-1" value="https://intra.dev.edcs7.csc.gov.on.ca/OnSIS-1/1/welcome.aspx" />
    <add key="OnSIS-2" value="https://intra.dev.edcs7.csc.gov.on.ca/ONSIS-2/1/Welcome.aspx" />
    <add key="OnSIS-PROD" value="https://onsis.edu.gov.on.ca/welcome.aspx" />

    <add key="PROD" value="https://edcs.tcu.gov.on.ca/pr" />
    <add key="PPE-2" value="https://stage.edcs.tcu.gov.on.ca/2/pr/" />
    <add key="OpenSims" value="https://ossit.csccloud.ca " />
    <add key="OpenSims_UAT" value="https://ospoc.csccloud.ca" />
    <add key="PAA" value="https://dev1.tpaa.edu.gov.on.ca/ " />
    
    <!-- Parameters -->
    <add key="WarningThreshold" value="120" />
    <add key="TimeOutThreshold" value="240" />
    <add key="IEEnableNativeEvents" value="False" />
    <add key="delimeter" value="," />
        
    <!-- Special Elements -->
    <add key="LoadingSpinner" value="//*[@id='loadingspinner']" />
    <add key="ErrorContainer" value="//div[@class='alert alert-danger']" />
    
  </appSettings>
</configuration>